
body{
    text-align:center;
    margin:0;
    font-family: 'Merriweather', serif;
    color: #40514E;
    background-color: #f2f6f6;
}

h1{
    margin-top:0;
    font-family: 'Sacramento',cursive;
    font-size: 400%;
    margin: 62.5 auto 0 auto;
    color: #66BFBF;
}

p{
    line-height:2;
    font-family: 'Montserrat',sans-serif;
}
.text{
    font-family: 'Montserrat',sans-serif;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    font-size: 1.5em;
    color: #66BFBF;
    font-weight: normal;
}

h2{ 
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding:10px;
}

.top-container{
    position:relative;
    padding: 5%;
    background-color: #cceded;
    line-height: 1;

}
.cloud{
    position:relative;
    display: block;
    margin-left: 65%;
    margin-bottom: 2%;
    height: auto;
    object-fit: contain;
}


.cs{
    text-decoration: underline;
}

.cloud2{
    display: block;
    margin-left:25%;
    position:absolute;
    height: auto;
    object-fit: contain;
}
.mountain{ 
    display: block;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
}

.middle-container{
    margin:10px auto 100px auto;
}

.bottom-container{
    background-color: #66BFBF;
    padding:20px 0 20px 0;
    
    
}



.my-pic{
    margin-top:3%;
    width: auto;
    height: 300px;
}

h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
}

a{
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    margin:10px 20px 10px 20px;
    text-decoration: none;
}

a:hover{
    color:rgb(0, 171, 187);
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left;

}
.code-img{
    width:19%;
    float: left;
    margin-right: 30px;
}

.sleep-img{
    width:19%;
    float: right;
    margin-left: 30px;
    margin-bottom:20px;
}

/*.code-skill-discripton{
    clear:left; used to clear the left -- opposite to float;
}
*/

hr{
    border:dotted #98999a 6px;
    border-bottom: none;
    width: 4%;
    margin-top: 50px;
    margin-left:47% ;
}

.contact-message{
    font-weight: bold;
    width:40%;
    margin: 40px auto 40px auto;
    font-family:'Montserrat',sans-serif;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #baeefc00;
    background-image: -webkit-linear-gradient(top, #baeefce8,#baeefce8);
    background-image: -moz-linear-gradient(top,#baeefce8,#baeefce8);
    background-image: -ms-linear-gradient(top, #baeefce8,#baeefce8);
    background-image: -o-linear-gradient(top, #baeefce8,#baeefce8);
    background-image: linear-gradient(to bottom,#baeefce8,#baeefce8);
    text-decoration: none;
  }

  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
  }